{% extends 'based.html' %}
{% block title %}Modificando Meta do Mês{% endblock  %}

{% block content %}
<div class="modal-ge" id="modalEdit">
    
    <div class="container-editar">
        {% comment %} <button class="btn-x" onclick=sair()>X</button> {% endcomment %}
        <h2>Editar descrição de "em curso" </h2>
        <h2>Ultima modificação: {{formC.created_at.value}}</h2>
        <form class="form-add-f" method="post">
            {% csrf_token %}
            {{ formC.as_p}}
            <div class="flex-btn">
                <input type="submit" class="btn btn-success text-center" value="Salvar">
            </div>
           
        </form>
    </div>
    <style>
        .container-editar{
            max-width: 45vw;
            margin: 0 auto;
            border: 1px solid rgba(0, 0,0, 0.3);
            box-shadow: 0px 9px 20px rgb(0 0 0 / 12%);
            padding: 3em

        }
        .foo{
            bottom: 0;
            position: absolute
        }
    </style>
</div>
{% endblock  %}