{% extends 'base.html' %}

{% block title %}Página Inicial{% endblock  %}
{% block content %}
<div class="description">
    <p>Desenvolvimento do novo ficha técnica em andamento, objetivo inicial é aperfeiçoar os conhecimentos de Engenharia de Software desde Engenharias de requisitos até a gestão de recursos humanos.</p>
    <p>Em seguida, vamos iniciar a fase 1 que consiste em Documentar os requisitos, elaborar Diagrama ER do novo Banco de dados, Diagrama de Views, mapear parametros de entrada do sistema, Diagrama de fluxo, Diagrama de classes e entre outros.</p>
    

</div>

{% endblock  %}