body { 
    position: fixed; top: 0; left: 0; width: 100vw;
    background-color: rgb(80, 80, 182);
    margin:0;
    padding: 0;
}
p, h3, h2, h1, tr, td, th, li{
    font-family: 'Arial'
}
p, h3, li{
    margin: 0;
}
h2{
    margin: 0;
    top: 0;
    right: 0;
    left: 0;
    color: rgb(11, 6, 59);
    position: relative;
    /* background-color: rgb(195, 190, 255); */
    font-size:1.2vmax;
    text-align: center;
}
.banner{
    margin: 0;
    background-color: rgb(80, 80, 182);
    display: flex;
    gap: 30px;
    flex-flow: wrap row;
    align-items:center;
    justify-content:space-around;
    border-radius: 2px;
}
.banner h2{
    color: white;
    background-color: transparent;
    text-align: center;
    padding-top: 10px;
    margin-left: 2%;
    display: inline-block;
}
.ico{
    margin: 0;
    padding: 0;
    height: 2vmax;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2))
}
.ico:hover{
    transition: 0.5s ease;
    filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.5));
}
.imgDash{
    position: relative;
    float: left;
    right: 5%;
    top: 2%;
    height: 3vmax;
}


/* footer  */

.modalP{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    z-index: 2;
}

/* 
novo layout */
.container{
    background-color: rgba(0, 0, 0, 0.0 );
    height:100vh;
    width: 100vw;
    padding: 0 10px;
    display: flex;
    flex-flow: wrap row;        
    gap: 10px;
}
/* DEFININDO ESPAÇOS */
.box-geral{
    width: 100vw;
    height: 94vh;
    background-color: rgb(193, 234, 184);  
    display: flex;  
    position: relative;
    margin: 0 auto;
    border-bottom: 1px solid rgb(153, 77, 203);
}
.caixa_metade1{
    width: 60%;
    height: 100%;
    position: relative;
    display: flex;
    flex-flow: wrap row;
    background-color: rgba(245, 244, 255, 0.5);
    border-right: 0.15em solid rgba(11, 85, 203, 0.2);

}
.caixa_metade2{
    width: 40%;
    height: 100%;
    position: relative;
    background-color: rgba(216, 157, 157, 0.5);
    display: flex;
    flex-flow: wrap row;
}
.quadrante1{
    width: 100%;
    height: 60%;
    background-color: rgb(237, 251, 255);
    display:block;
    flex-flow: wrap row;
    /* align-items: center; */
    justify-content: center;
    border-bottom:0.15em solid rgba(101, 158, 250, 0.2);
}
.quadrante2{
    width: 100%;
    height: 40%;
    display: flex;
    background-color: rgb(215, 219, 225);
}
.comercial-q{
    width: 60%;
    height: 100%;
    
    background-color: rgb(185, 185, 222);}
.meio-q{
    width: 40%;
    background-color: rgb(245, 252, 254);
    border-left: 00.15em solid rgba(101, 158, 250, 0.2);
}
.implantacao-m{
    height: 55%;
    width: 100%;
    background-color: rgb(244, 247, 253);
}
.modulo{
    padding-top: 0;
    
    overflow: hidden;
}
.modulo h2{
    font-size:1.2vmax;
    text-align: center; 
    color: rgb(11, 6, 59);
    background-color: rgb(169, 176, 235);
    border-bottom:0.15em solid rgba(11, 85, 203, 0.2);
}


/* COMERCIAL BLOCO */

.comercial-q{
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    border-bottom: 2px solid rgb(169 176 235);
    border-right: 3px solid rgb(169 176 235);

}
.comercial-q h2{
    position: relative; 
    top: 0;
    z-index: 2;
    right: 0;
    left:0;
    background-color: rgb(169, 176, 235);
    border-bottom:0.15em solid rgba(11, 85, 203, 0.2);
}

.box-graphic{
    width: 100%; 
    height: 100%;
    display: flex;
    flex-flow:row wrap;
}


.implantacao{
    position: relative;
    background-color: rgb(239, 247, 255);
    width: 55%;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.suporte{
    border-top: 0.15em solid rgba(101, 158, 250, 0.2);
    width: 100%;
    height: 45%;
    display: block;
}
.suporte-flex{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 93%;
}
.chamados-categoria{
    width: 33%;
    height: 100%;
    background-color: rgba(252, 252, 252, 0.2);
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    overflow-y:scroll; 
    overflow-x:hidden;  
}
.fig4{
    width: 33%;
    height: 100%;
    background-color: rgb(144, 186, 236);
    border-right: 0.015em solid rgba(101, 158, 250, 0.2); 
    
}   
.problemas{
    width: 33%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border-left: 0.015em solid rgba(101, 158, 250, 0.2); 
    overflow-y:scroll; 
    overflow-x:hidden;  
}
.tabela-suporte{
    background-color: rgba(255, 255, 255, 0.3);
    border-left: 0.015em solid rgba(101, 158, 250, 0.2); 
}
.tabela-suporte tr td{
    text-align: left   ;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
    font-size: 0.9em;
    
}

.desenvolvimento{
    background-color: rgb(242, 249, 255);
    width: 100%;
    height: 33.33%;
    border-bottom: 1px solid rgb(192, 192, 192);
}
.desenvolvimento h2{
    border-bottom: 1px solid rgb(192, 192, 192);
}


/* FATURAMENTOS */
.caixa-fig{
    width: 100%; 
    height: 83%;
}
.fig1{
    width: 100%; 
    height: 45%; 
    background-color: transparent;
}
.fig2{
    display: inline-block; 
    width: 48%; 
    height: 50%; 
    background-color: transparent;
}
.fig3{
    display: inline-block; 
    width: 48%; 
    height: 50%; 
    background-color: transparent;
}
.faturamento{
    background-color: rgb(227, 248, 235);
    width: 100%;
    height: 17%;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    border-bottom: 1px solid rgb(192, 192, 192);
}
.faturamento h2{
    width: 100%;
    font-size:0.9vmax;
    margin: 0;
    display: flex;
    justify-content: center;
    
    align-items: center;
    z-index: 2;
}
.box-p{
    text-align: center;
    padding: 0;
    width: 35%;
    height: 40%;
    background-color: rgba(215, 130, 130, 0.0);
    display: block;

}

.box-p p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 65%;
    background-color: rgba(30, 23, 155, 0.7);
    font-size:0.9vmax;
    border-radius: 5px;
    color: aliceblue;   
}
.box-p h3{
    font-size:0.8vmax;
    z-index: 3;
    color: rgb(45, 45, 45);
    margin: 0;
      
}
/* FIM FATURAMENTOS */
/* NEGOCIOS */
.negocios{
    background-color: rgb(157, 241, 193, 0.0);
    width: 100%;
    height: 100%;
    padding: 0;
    border-right: 1px solid rgb(192, 192, 192);

    display: block;
    /* overflow-y:scroll; 
    overflow-x:hidden;  */
} 

.pipeline-detalhes{
    display: inline-block;
    background-color: rgb(228, 230, 240);
    border-left: 1px solid rgb(192, 192, 192);
    width: 50%;
    height: 100%;
    flex-flow: wrap row;
    align-items: center;
    justify-content: center;
    position: relative;
}
.pipeline-detalhes .container-header{
    font-weight: bold;
}
/* PIPELINE FEITO EM CSS HEHE */
.lado-e h2, .lado-d h2{
    z-index: 3;
    margin-top: -3.7vmax;
    font-family: 'Arial';
    text-shadow: 0px 1px #fff;
    background-color: transparent;
    border: none;
}
.pipeline-c .lado-e h2{
    margin-left: -3.3vmax;
}
.pipeline-c .lado-d h2{
    margin-left: 1vmax;  
}
.caixa-grafico-pipeline{

    display: block;
    width: 49%;
    height: 100%;
    margin: 0;
    padding: 0;

}

 .pipeline-a, .pipeline-b, .pipeline-c{
    background-color: transparent;
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content:center;
    margin: 0.2vmax auto;
    gap: 0.3em;
    position: relative;
} 
.pipeline-a{
    margin-top: 1.5em;
}
.pipeline-a .lado-e, .pipeline-a .lado-d{
    
    height: 1px;
    background-color: transparent;
}
.pipeline-a .lado-e{
    width: 32%;
    border-left: 3.8vmax solid transparent;
    border-top: 5vmax solid rgb(244, 72, 72);
}
.pipeline-a .lado-d{
    width: 32%;
    border-right: 3.8vmax solid transparent;
    border-top: 5vmax solid rgb(81, 179, 249);
}
.pipeline-b .lado-e{
    width: 19.2%;
    border-left: 3.7vmax solid transparent;
    border-top: 5vmax solid rgb(239, 47, 47);
}
.pipeline-b .lado-d{
    width: 19.2%;
    border-right: 3.7vmax solid transparent;
    border-top: 5vmax solid rgb(53, 81, 237);
}
.pipeline-c .lado-e{
    width: 4%;
    border-left: 4.3vmax solid transparent;
    border-top: 6vmax solid rgb(220, 22, 22);
}
.pipeline-c .lado-d{
    width: 4%;
    border-right: 4.3vmax solid transparent;
    border-top: 6vmax solid rgb(16, 38, 159);
}

.lado-p h2{
    margin-top: -2.8vmax;
    font-family: 'Consolas';
    font-size: 1vmax;
    background-color: transparent;
    color: #fff;
    text-shadow: 2px 1px black;
    border: none;
}
.pipeline-c .lado-p h2{
    margin-top: -5.5vmax;
    z-index: 3;
}

.pipeline-c .lado-direito h2{
margin-left: 0.7vmax;
}
.pipeline-c .lado-esquerdo h2{
    margin-left: -5vmax;
}
.pipeline-b .lado-direito h2, .pipeline-a .lado-direito h2{
    text-align: left;
    margin-left: 0.7vmax;
    }
.pipeline-a .lado-esquerdo h2{
    text-align: right;
    margin-right: 0.7vmax;
    }
/* FIM PIPELINE FEITO EM CSS  */
.caixa-flex-pipeline{
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    height: 100%;

}
.container-header{
    width: 100%;

}
.container-header ul{
    background-color:rgb(205, 205, 227);
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-flow: wrap row;
    align-items:flex-start;
    justify-content:space-around;
    
}
.container-header ul li{
    width: 32%;
    border-right: 1px solid  rgb(159, 159, 159);
    text-align: center;
}
.container-p{
    width: 100%;
    height: 27.1%;
    margin-bottom: 3px;
    overflow-y:scroll; 
    overflow-x:hidden;
    border-top: 2px solid  rgb(149, 153, 214);
    border-bottom: 2px solid  rgb(149, 153, 214);
    border-left: 1px solid  rgb(149, 153, 214);
    text-align: center; 
}
table{
    background-color: rgba(229, 229, 229, 1);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 1vmax;
    text-align: left;
    border: none;

}
th{
    background-color: rgba(0, 0, 0, 0.1)
}
table tr{
    padding: 0;
    text-align: left;    
    font-size: 0.9vmax;
    border-bottom: 1px solid rgb(161, 161, 161);
}
tr:hover{
   background-color: rgba(4, 0, 72, 0.2)
}
table tr td{
  padding: 0;
  margin: 0;
}
/* DESENVOLVIMENTO MODULO */
.container-desenvolvimento{
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content:space-around;
    height: 100%;
}
.devendo, .fazendo, .entregue{
    background-color: rgba(210, 210, 210, 0.1);
    width: 33.33%;
    height: 100%;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}
.devendo h3, .fazendo h3, .entregue h3{
    font-size: 1vmax;
}
.devendo ul, .fazendo ul, .entregue ul{
    text-align: left;
    width: 100%;

}


/* IMPLANTAÇÃO */
.implantacao h2{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: rgb(11, 6, 59);
    background-color: rgb(195, 190, 255);
    
    
}
.implantacao-p{
    height: 32%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(235, 234, 255, 0.0);
    border-bottom: 1px dashed rgb(161, 161, 161) ;
}
.implantacao-p h3{
    text-align: left;
    padding-left: 20px;
    color: rgb(11, 6, 59);
    background-color: rgb(231, 239, 255);
    font-size: 1.2vmax; 
    border-bottom: 2px solid rgba(101, 158, 250, 0.2);  
}

.planejado, .curso, .concluido{
    overflow-y:scroll; 
    overflow-x:hidden; 
    height:80%;
    
}

.planejado ul li, .curso ul li, .concluido ul li{
    margin: 0;
    padding: 0.2em 0;
    font-size: 1vmax;
    list-style:square;
}

.planejado ul li:hover, .curso ul li:hover, .concluido ul li:hover{
    background-color: rgba(43, 132, 210, 0.4);
    transition: 0.5s ease;
}
/* COLETORES */
.coletores{ 
    grid-area: coletores;
    background-color: rgb(255, 255, 255, 0.0);
    width: 100%;
    height: 33.33%;
    position: relative;
    display: block;
}
.coletores h2{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
 .coletores-p{
     width: 100%;
     height: 25%;
     display: flex;
     flex-flow: wrap row;
     align-items: center;
     justify-content:space-around;
 }
 .coletores-p:hover{
     background-color: rgb(238, 174, 137);}
     .coletores-p h3{
        font-size: 1.2vmax;
     }
.estoque-1, .devendo-1, .insumo-1, .manuntencao-1{
    width: 20%;
    height: 80%;
    border-radius: 5px;
}
.estoque-1{
    background-color: rgb(171, 196, 239);
}
.devendo-1{
    background-color: rgb(171, 239, 236);
}
.insumo-1{
    background-color: rgb(239, 239, 171);
}
.manuntencao-1{
    background-color: rgb(239, 171, 230);
}


/* /* 
BOOTSTRAP TABLE */
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table th,
.table td {
  padding: 0.15rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table .table {
  background-color: #fff;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #b8daff;
}

.table-hover .table-primary:hover {
  background-color: #9fcdff;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #9fcdff;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: #d6d8db;
}

.table-hover .table-secondary:hover {
  background-color: #c8cbcf;
}

.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
  background-color: #c8cbcf;
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #c3e6cb;
}

.table-hover .table-success:hover {
  background-color: #b1dfbb;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #b1dfbb;
}

.table-info,
.table-info > th,
.table-info > td {
  background-color: #bee5eb;
}

.table-hover .table-info:hover {
  background-color: #abdde5;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
  background-color: #abdde5;
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #ffeeba;
}

.table-hover .table-warning:hover {
  background-color: #ffe8a1;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
  background-color: #ffe8a1;
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #f5c6cb;
}

.table-hover .table-danger:hover {
  background-color: #f1b0b7;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
  background-color: #f1b0b7;
}

.table-light,
.table-light > th,
.table-light > td {
  background-color: #fdfdfe;
}

.table-hover .table-light:hover {
  background-color: #ececf6;
}

.table-hover .table-light:hover > td,
.table-hover .table-light:hover > th {
  background-color: #ececf6;
}

.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #c6c8ca;
}

.table-hover .table-dark:hover {
  background-color: #b9bbbe;
}

.table-hover .table-dark:hover > td,
.table-hover .table-dark:hover > th {
  background-color: #b9bbbe;
}

.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background-color: rgba(0, 0, 0, 0.075);
}

.table .thead-dark th {
  color: #fff;
  background-color: #212529;
  border-color: #32383e;
}

.table .thead-light th {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.table-dark {
  color: #fff;
  background-color: #212529;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
  border-color: #32383e;
}

.table-dark.table-bordered {
  border: 0;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

.table-dark.table-hover tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-sm > .table-bordered {
    border: 0;
  }
}

@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-md > .table-bordered {
    border: 0;
  }
}

@media (max-width: 991.98px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-lg > .table-bordered {
    border: 0;
  }
}

@media (max-width: 1199.98px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-xl > .table-bordered {
    border: 0;
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive > .table-bordered {
  border: 0;
} */
