{% extends 'based.html' %}

{% block title  %}DASHBOARD - COMERCIAL{% endblock  %}


{% block content %}

<div class="modal-g" id="modal">
    
    <div class="container-adicionar">
        <button class="btn-x" onclick=sair()>X</button>
        <h2>Adicionar novo faturamento</h2>
        <form class="form-add-f" method="post">
            {% csrf_token %}
            {{ form.as_p}}
            <div class="flex-btn">
                <input type="submit" class="btn btn-success text-center" value="Salvar">
            </div>
           
        </form>
    </div>
</div>

<div class="container-g">
    <div class="caixa-metade">
        <div class="caixa-meta">
            <h3>META ATUAL</h3>
            <div class=caixa-meta-valor>
                <h3 class="meta-sigla">R$</h3>
                <h3 class="meta-valor">200000.00</h3>
                <i class="fas fa-edit"></i>
            </div>
            
        </div>
        <div class="row">
            <div class="caixa-licencas">
                <h3>PLACAR DE  LICENÇAS</h3>
                <div class=caixa-licencas-valor>
                    {% comment %} <h3 class="meta-sigla">R$</h3> {% endcomment %}
                    <h3 class="meta-valor">21</h3>
                    <i class="fas fa-edit"></i>
                </div>
                
            </div>
            <div class="caixa-licencas">
                <h3>LICENÇAS FALTANDO</h3>
                <div class=caixa-licencas-valor>
                    {% comment %} <h3 class="meta-sigla">R$</h3> {% endcomment %}
                    <h3 class="licencas-valor">36</h3>
                    <i class="fas fa-edit"></i>
                </div>
                
            </div>

        </div>
        

    </div>  

<div class="caixa-faturamento">
    <div class="container-f">
        <div class="container-flex">
            <h3 id="h3_fd">Faturamento por Data</h3>
            
            <div class="col-3 add-div text-center"  onclick=abrir()>
                <i class="fas fa-plus"> </i> Adicionar 
            </div>
       
        
        </div>
        

        {% comment %} <div class="col-12 search-div">   
            <input class="form-control" type="text" id="search" placeholder="Digita o faturamento">
            <i class="fas fa-search"></i>
        </div> {% endcomment %}
        
        {% if messages %}
            <ul class="messages">
                {%  for message in messages %}
                {% comment %} //tags sao infos {% endcomment %}
                    <li {% if message.tags %} class="alert alert-{{message.tags}}"{% endif %} >{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}    
    </div>
    
    <ul class="task-list">
        {% for faturamento in faturamentos %}
            <li class="task-item">
                <p>R$ {{faturamento.faturamento_dia}}</p><p>|</p><p>{{faturamento.data_faturamento}}</p>  
                <a id="delete" href="/dashboard/comercial/deleteFaturamento/{{faturamento.id}}"><span><i class="fas fa-trash"></i></span></a> 
                <a id="edit" href="/dashboard/comercial/editarFaturamento/{{faturamento.id}}"><span><i class="fas fa-edit"></i></span></a>
               
            </li>
        {% endfor %}
        

             
    </ul>
</div>

</div>
{% endblock  %}