{% extends 'based.html' %}

{% block title  %}DASHBOARD - COMERCIAL{% endblock  %}


{% block content %}

<div class="modal-g" id="modal">
    
    <div class="container-adicionar">
        <button class="btn-x" onclick=sair()>X</button>
        <h2>Adicionar novo faturamento</h2>
        <form class="form-add-f" method="post">
            {% csrf_token %}
            {{ form.as_p}}
            <div class="flex-btn">
                <input type="submit" class="btn btn-success text-center" value="Salvar">
            </div>
           
        </form>
    </div>
</div>

<div class="container-g">
    <div class="caixa-metade">
        <div class="caixa-meta">
            <h3>META ATUAL</h3>
            <h3>R$ 200000.00</h3>
        </div>

    </div>  

<div class="caixa-faturamento">
    <div class="container-f">
        <h1>Faturamento por Data</h1>
        <div class="col-4 add-div" onclick=abrir()>
            <i class="fas fa-plus"> </i> Adicionar faturamento
        </div>

        <div class="col-12 search-div">   
            <input class="form-control" type="text" id="search" placeholder="Digita o faturamento">
            <i class="fas fa-search"></i>
        </div>
        
        {% if messages %}
            <ul class="messages">
                {%  for message in messages %}
                {% comment %} //tags sao infos {% endcomment %}
                    <li {% if message.tags %} class="alert alert-{{message.tags}}"{% endif %} >{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}    
    </div>
    
    <ul class="task-list">
        {% for faturamento in faturamentos %}
            <li class="task-item">
                <p>R$ {{faturamento.faturamento_dia}}</p><p>|</p><p>{{faturamento.data_faturamento}}</p>  
                <a href="/list/delete/{{faturamento.id}}"><span><i class="fas fa-trash"></i></span></a>
                <a href="/list/edit/{{faturamento.id}}"><span><i class="fas fa-edit"></i></span></a>
            </li>
        {% endfor %}
        

             
    </ul>
</div>
</div>
{% endblock  %}