{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'css/dash.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="banner">
        <h2>DASHBOARD MAP INTELLIGENCE</h2>
        <h2>DATA : 22/10/2022</h2>
    </div>
    <div class="box-geral">
        <div class="caixa_metade1">
            <div class="quadrante1">
                <div class="faturamento">
                    <div class="box-p box-meta">
                        <h3>META EM R$</h3>
                        <p>R$ 100000.00</p>
                    </div>
                    <div class="box-p box-realizado">
                        <h3>REALIZADO EM R$</h3>
                        <p>R$ 100000.00</p>
                    </div>
                    <div class="box-p box-despesas">
                        <h3>PROJETADO EM R$</h3>
                        <p>R$ 100000.00</p>
                    </div>
                    <div class="box-p box-total" style="display:block;">
                        <h3>% REALIZADO / % PROJETADO</h3>
                        <p style="width: 48%; display: inline-block;" >100 %</p>
                        <p style="width: 48%; display: inline-block;">100 %</p>
                    </div>

                </div>
            </div>
            <div class="quadrante2">
                
            </div>
        </div>
        <div class="caixa_metade2">
            <div class="modulo implantacao-m">

            </div>
            <div class="modulo suporte">
                
            </div>
        </div>

    </div>
</body>
</html>

