{% extends 'based.html' %}

{% block title  %}DASHBOARD - PIPELINE{% endblock  %}


{% block content %}

<div class="modal-g" id="modal1">
    
    <div class="container-adicionar">
        <button class="btn-x" onclick=sair1()>X</button>
        <h2>Adicionar novo cliente da categoria A</h2>
        <form class="form-add-f" method="post">
            {% csrf_token %}
            {{ formPipelineA.as_p}}
            <div class="flex-btn">
                <input type="submit" class="btn btn-success text-center" value="Salvar">
            </div>
           
        </form>
    </div>
</div>
<div class="modal-g" id="modal2">
    
    <div class="container-adicionar">
        <button class="btn-x" onclick=sair1()>X</button>
        <h2>Adicionar novo cliente da categoria B</h2>
        <form class="form-add-f" method="post">
            {% csrf_token %}
            {{ formPipelineB.as_p}}
            <div class="flex-btn">
                <input type="submit" class="btn btn-success text-center" value="Salvar">
            </div>
           
        </form>
    </div>
</div>
<div class="modal-g" id="modal3">
    
    <div class="container-adicionar">
        <button class="btn-x" onclick=sair1()>X</button>
        <h2>Adicionar novo cliente da categoria C</h2>
        <form class="form-add-f" method="post">
            {% csrf_token %}
            {{ formPipelineC.as_p}}
            <div class="flex-btn">
                <input type="submit" class="btn btn-success text-center" value="Salvar">
            </div>
           
        </form>
    </div>
</div> 

<div class="container-g">

<div class="caixa-implantacao">
    <div class="container-f">  
        <div class="container-flex">
            <h3 id="h3_fd">PIPELINE A </h3>
            
            <div class="col-3 add-div text-center"  onclick=abrir1()>
                <i class="fas fa-plus"> </i> Adicionar 
            </div>
       
        
        </div>    
        {% if messages %}
            <ul class="messages">
                {%  for message in messages %}
                {% comment %} //tags sao infos {% endcomment %}
                    <li {% if message.tags %} class="alert alert-{{message.tags}}"{% endif %} >{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}    
    </div>
    
    <ul class="implantacao-list">
        {% for pipelinea in pipelineA %}
            <li class="implantacao-item">
                <p>{{pipelinea.nome_a}}</p>  
                <div style="display:flex">
                    <a id="delete" href="/dashboard/pipeline/deletePipelineA/{{pipelinea.id}}"><span><i class="fas fa-trash"></i></span></a> 
                    <a id="edit" href="/dashboard/pipeline/editPipelineA/{{pipelinea.id}}"><span><i class="fas fa-edit"></i></span></a>
                </div>
                
            </li>
        {% endfor %}

             
    </ul>
</div>
<div class="caixa-implantacao">
    <div class="container-f"> 
        <div class="container-flex">
            <h3 id="h3_fd">PIPELINE B</h3>
            
            <div class="col-3 add-div text-center"  onclick=abrir2()>
                <i class="fas fa-plus"> </i> Adicionar 
            </div>
       
        
        </div>     
        {% if messages %}
            <ul class="messages">
                {%  for message in messages %}
                {% comment %} //tags sao infos {% endcomment %}
                    <li {% if message.tags %} class="alert alert-{{message.tags}}"{% endif %} >{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}    
    </div>
    
    <ul class="task-list">
        {% for pipelineb in pipelineB %}
            <li class="implantacao-item">
                <p>{{pipelineb.nome_b}}</p>  
                <div style="display:flex">
                    <a id="delete" href="/dashboard/pipeline/deletePipelineB/{{pipelineb.id}}"><span><i class="fas fa-trash"></i></span></a> 
                    <a id="edit" href="/dashboard/pipeline/editPipelineB/{{pipelineb.id}}"><span><i class="fas fa-edit"></i></span></a>
                </div>
                
            </li>
        {% endfor %}

             
    </ul>
</div>
<div class="caixa-implantacao">
    <div class="container-f">      
        <div class="container-flex">
            <h3 id="h3_fd">PIPELINE C</h3>
            
            <div class="col-3 add-div text-center"  onclick=abrir3()>
                <i class="fas fa-plus"> </i> Adicionar 
            </div>
       
        
        </div>
        {% if messages %}
            <ul class="messages">
                {%  for message in messages %}
                {% comment %} //tags sao infos {% endcomment %}
                    <li {% if message.tags %} class="alert alert-{{message.tags}}"{% endif %} >{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}    
    </div>
    
    <ul class="implantacao-list">
        {% for pipelinec in pipelineC %}
            <li class="implantacao-item">
                <p>{{pipelinec.nome_c}}</p>  
                <div style="display:flex">
                    <a id="delete" href="/dashboard/pipeline/deletePipelineC/{{pipelinec.id}}"><span><i class="fas fa-trash"></i></span></a> 
                    <a id="edit" href="/dashboard/pipeline/editPipelineC/{{pipelinec.id}}"><span><i class="fas fa-edit"></i></span></a>
                </div>
                
            </li>
        {% endfor %}
    </ul>
</div>
    <style>
        .caixa-implantacao{
            position: relative;

        }
        .container-f{
            position: sticky;
        }   
    </style>
</div>

{% endblock  %}
