{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"> {% endcomment %}

    <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href=" {% static 'css/bootstrap.css' %}">
    <link rel="icon" type="image/x-icon" href=" {% static 'img/relatorio.png' %}">
    <title> {% block title %}{% endblock  %}</title>
    
</head>
<body>
    <div class="container-geral">
        <nav class="navbar navbar-expand-lg nav-pa">
            <div class="container-fluid ">
              <a class="navbar-brand" href="/dashboard"><img src= "{% static 'img/logo.png' %}" alt=""></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    
                  {% if user.is_authenticated %}

                  <li class="nav-item">
                    <a class="nav-link active nav-p" aria-current="page" href="/dashboard/comercial">Comercial</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active nav-p" aria-current="page" href="/dashboard/implantacao">Implantação</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active nav-p" aria-current="page" href="/pipeline">Pipeline de Vendas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active nav-p" aria-current="page" href="/dashboard/suporte">Suporte</a>
                  </li>

                  {% comment %} <li class="nav-item sair">
                    <a class="nav-link active nav-p" aria-current="page" href="/accounts/logout">Sair </a>
                  </li> {% endcomment %}

                  {% else %}

                  <li class="nav-item entrar">
                    <a class="nav-link active nav-p" aria-current="page" href="/accounts/login">Entrar </a>
                  </li>

                  {% endif %}
                  
              </div>
            </div>
          </nav>


        {% block content %}
        {% endblock  %}
        
        <footer class="foo">
            <p>Copyright © MAP INTELLIGENCE  </p>

        </footer>
    </div>
    <style>
      body{
        padding:0;
        margin:0;
      }
     
      .container-g{
        width: 100%;
        height: 83vh;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        position: relative;

      }
     
    </style>
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    {% endcomment %}
    <script src=" {% static 'js/scripts.js' %}"></script>
    <script src=" {% static 'js/bootstrap.js' %}"></script>
    <script src=" {% static 'js/bootstrap.min.js' %}"></script>
    <script src=" {% static 'js/bootstrap.bundle.js' %}"></script>
    <script src=" {% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/946333dad1.js" crossorigin="anonymous"></script>
</body>
</html>